* {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Roboto', Arial, sans-serif;
}

.content {
  position: absolute;
  margin: 0 2rem;
}

/* Header's style */

.header {
  background-color: #B22222;
  color: white;
  padding: 0 3rem;
}

/* .header-background-text {
  position: absolute;
  font-size: 40rem;
  font-weight: bold;
  color: #800000;
  z-index: 1;
  opacity: 0.5;
  top: -45rem;
  left: 0;

} */

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-items {
  text-align: right;
  list-style-type: none;
  margin-right: 1rem;
}

.menu-item {
  display: inline-block;
  margin-right: 5px;
  white-space: nowrap;
  padding: 8px 10px;
}

.menu-item.highlighted {
  padding: 10px;
  border: 2px solid #FF8C00;
  border-radius: 2rem;
}

.header-text {
  left: 150px;
  font-size: 35px;
  padding: 2rem;
}

/* Submit form */

.submit-form-wrap {
  position: relative;
}

.submit-form {
  position: absolute;
  right: 3rem;
  top: -100px;
  width: 350px;
  height: 400px;
  background-color: #FF8C00;
 
  padding: 1rem;
  text-align: left;
}

.submit-form__item {
  border: none;
  border-bottom: 1px solid #696969;
  width: 20rem;
  background: none;
  margin: 1rem;
}

.submit-form__feedback {
  text-align: center;
}

.submit-form__feedback p {
  text-transform: uppercase;
  font-size: 14px;
}

.submit-form__feedback h1 {
  font-size: 30px;
}

/* Key services*/

.key-service-item {
  list-style-type: none;

}

/*Main content*/

.key-service {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

/* Footer */

.footer {
  width: 100%;
  position: absolute;
  bottom: 0rem;
  vertical-align: bottom;
  min-height: 4rem;
  background-color: #B22222;
}