@font-face {
  font-family: "SpaceGrotesk";
  src: url("./../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}

* {
  font-family: Arial, sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffb629;
}

._customFont {
  font-family: SpaceGrotesk;
}

._relative {
  position: relative;
}

._highlighted {
  padding: 10px;
  border: 2px solid #ffb629;
  border-radius: 2rem;
}

._shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

._shadow:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.36);
}

._hide {
  display: none;
}

._show {
  display: inline;
}

._text-gradient {
  background: -webkit-linear-gradient(330deg, #ffb629 10%, #c41c21 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Layout */
.layout-center {
  margin: 0 10%;
}

.layout-flex {
  display: flex;
}

._column {
  flex-direction: column;
} 

/* Base classes */
.title {
  display: flex;
  font-size: 2.2rem;
}

.text {
  line-height: 2rem;
  font-size: 1.5rem;
}
